page-data-summary {
  // ============ date picker ============
  .date-picker-wrapper {
    margin: 20px 10px 20px 10px;
  }

  .date-picker-title {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
  }

  .date-picker {
    font-size: 12pt;
    font-weight: bold;
    margin-right: -20px;
  }

  .date-picker-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
  }

  .item-ios.item-block .item-inner {
    border: none;
  }

  // ============ data summary ============
  .data-type-card {
    background: var(--goal-card-background);
    border-radius: 12px;
    vertical-align: middle;
  }

  .data-type-icon {
    position: relative;
    left: 5px;
    width: 45px;
    vertical-align: middle;
    display: inline-block;
  }

  .data-type-header {
    font-size: 18pt;
    font-weight: bold;
    position: relative;
    left: 20px;
    vertical-align: middle;
    display: inline-block;
  }

  .data-type-expanded-icon {
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
    font-size: 25pt;
    vertical-align: middle;
    display: inline-block;
  }

  .data-item{
    margin: 0 10px 20px 70px;
  }

  .data-name{
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .data-report{
    //padding-left: 1em;
    padding-bottom: 5px;
    font-size: 12pt;
  }

  .data-field {
    font-size: 12pt;
    font-weight: bold;
    margin: 10px 0 10px 0;
  }

  .data-text {
    font-size: 12pt;
    //font-weight: bold;
    margin-left: 10px;
  }





  .times-reported{
    //padding-left: 1em;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-style: italic;
  }

  .cat-responses{
    //padding-left: 1em;
    font-style: italic;
  }

  .data-goal{
    //padding-left: 1em;
    font-style: italic;
  }

}
