page-tracking {
  #toolbar {
    .toolbar-content{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-left: 3%;
      margin-right: 3%;
    }

    .header-button {
      background: none;
      //margin-top: 4pt;
      //margin-left: 7%;
      //margin-right: 7%;
      font-size: 10pt;
      min-width: 44px;
      color: white;
    }

    .header-spinner {
      min-width: 44px;
      background: none;
    }

    .spinner-visible{
      visibility: visible;
    }
  
    .spinner-invisible{
      visibility: hidden;
    }

    .spinner-hidden{
      display: none;
    }

    .feedback-hidden{
      display: none;
    }
  }

  .custom-reset-form-btn {
    font-size: 20pt;
  }

  .align-left {
    float: left;
    margin-left: 4%;
  }

  .align-right {
    float: right;
    margin-right: 4%;
  }

  .date-title {
    color: white;
    font-weight: bold;
    font-size: 10pt;
    position: absolute;
    background-color: var(--goal-card-background);
  }

  .header {
    background-color: var(--goal-card-background);
  }

  .goal-card-header {
    justify-content: center;
    vertical-align: center;
  }

  .goal-text-wrapper {
    position: absolute;
    left: 35%;
    right: 23%;
    top: 45pt;
  }

  .goal-text {
    font-size: 15pt;
    font-weight: bold;
    max-width: 40%;
  }

  .goal-icon {
    position: absolute;
    left: 7%;
    width: 65pt;
    top: 30pt;
    float: left;
  }

  .info-button {
    background: none;
    position: absolute;
    right: 12px;
    width: 12%;
    top: 60pt;
    float: right;
  }

  .footer-button {
    background: none;
    font-size: 8pt;
    color: white;
    position: relative;
    bottom: -2px;
  }

  .footer-text {
    color: white;
    font-size: 10pt;
    position: relative;
    bottom: 10px;
    font-weight: bold;
  }

  .footer-wrapper {
    padding-top: 10px;
  }

  .text-left {
    left: -10pt;
  }

  .text-right {
    right: -10pt;
  }

  .goal-card {
    margin-top: 100px;
    background: var(--goal-card-background);
    border-radius: 10px;
    width: 330px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .data-name {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .center {
    display: inline-block;
    justify-content: center;
  }

  // ====================== limit START ======================
  .limit-wrapper{
    font-style: italic;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    padding-left: 35px;
    padding-right: 30px;
  }

  .goal-met{
    color: var(--green-text);
  }

  .goal-over{
    color: var(--red-text)
  }

  .goal-violated{
    color: var(--red-text)
  }

  .goal-ok{
    color: var(--blue-accent)
  }

  .goal-info {
    color: var(--info-theme);
  }

  .limit-warning-message {
    font-size: 10pt;
    font-weight: bold;
  }

  .limit-info-message {
    font-size: 11pt;
    font-weight: bold;
  }

  .limit-value {
    display: inline-block;
    font-size: 11pt;
  }
  // ====================== limit END ======================
}
