page-tracking {
  .align-left {
    float: left;
    margin-left: 4%;
  }

  .align-right {
    float: right;
    margin-right: 4%;
  }

  .header-button {
    background: none;
    margin-top: 4pt;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 10pt;
    color: white;
  }

  .date-title {
    color: white;
    font-weight: bold;
    font-size: 10pt;
    position: absolute;
    background-color: var(--goal-card-background);
  }

  .header {
    background-color: var(--goal-card-background);
  }

  .goal-card-header {
    justify-content: center;
    vertical-align: center;
  }

  .goal-text-wrapper {
    position: absolute;
    left: 35%;
    right: 23%;
    top: 45pt;
  }

  .goal-text {
    font-size: 15pt;
    font-weight: bold;
    max-width: 40%;
  }

  .goal-icon {
    position: absolute;
    left: 7%;
    width: 65pt;
    top: 30pt;
    float: left;
  }

  .info-button {
    background: none;
    position: absolute;
    right: 12px;
    width: 12%;
    top: 60pt;
    float: right;
  }

  .footer-button {
    background: none;
    font-size: 8pt;
    color: white;
    position: relative;
    bottom: -2px;
  }

  .footer-text {
    color: white;
    font-size: 10pt;
    position: relative;
    bottom: 10px;
    font-weight: bold;
  }

  .footer-wrapper {
    padding-top: 10px;
  }

  .text-left {
    left: -10pt;
  }

  .text-right {
    right: -10pt;
  }

  .goal-card {
    margin-top: 100px;
    background: var(--goal-card-background);
    border-radius: 10px;
    width: 330px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .data-name {
    text-align: left;
    font-size: 12pt;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .center {
    display: inline-block;
    justify-content: center;
  }

}
