<ion-header>
  <ion-toolbar color="ionBackground" align-title="center" id="toolbar">
    <button ion-button class="header-button" (click)="onHomeClick(); saveTrackedData()" icon-only>
      <ion-icon name="custom-home"></ion-icon>
    </button> 
 
    <ion-title text-center>{{monthNames[dateSelected[1]] + " " + dateSelected[0] + ", " + dateSelected[2]}}</ion-title>

    <button class="header-spinner" ion-button icon-only>
      <ion-spinner [ngClass]="saving? 'spinner-shown': 'spinner-hidden'" color="light"></ion-spinner>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card class="goal-title-card">
    <ion-card-header class="goal-card-header">
      <img class="goal-icon"  [src]="'../../assets/pages/' + goal.toLowerCase() + '_icon.svg' " alt="">
      <div class="goal-text-wrapper">
        <p class="goal-text">Track</p>
        <p class="goal-text">{{goal}} Data</p>
      </div>
      <button class="align-right info-button" icon-only>
        <img [src]="'../../assets/pages/info_icon.svg' " alt="">
      </button>
    </ion-card-header>
  </ion-card>

  <ion-card text-center>
      <ion-card-content class="goal-card center">
        <ng-container *ngFor=" let data of dataToTrack[goal]">
          <p class="data-name" *ngIf="!data['quickTrack']">{{data['name']}} <ion-icon class="align-right" name="custom-clear" role="button" (click)="onEraseClick(goal, data)"></ion-icon> </p>
          <!--YSS TO-DO I belive I should not include ion-icon within <p> tag. The two elements (i.e. <p> and <ion-icon> should be encolsed
                  in a div and their relative positioning should be handled via CSS rules or by using some other existing layout class)-->
          <data-element-tracking *ngIf="!data['quickTrack']" [data]="data" [dataVal]="getDataVal(data['id'])"
                                 [dataStart]="getDataStart(data['id'])" [dataEnd]="getDataEnd(data['id'])"
                                 [trackedMedsToday] = getTrackedMeds() (valueChanged) = 'changeVals($event, data, goal)'>
          </data-element-tracking>
          <div class="limit-wrapper" *ngIf="isToday() && data['goal'] && !data['quickTrack'] && data['goal']['freq'] && goal !== 'Symptom' ">
            <div class="limit-info-message">
              Total for past {{data['goal']['timespan'].toLowerCase()}}: 
              <p class="limit-value" 
                 [class.goal-ok]="   getProgressMsg(data, goal, 'total/goal-atm') === 'at-more'
                                  || getProgressMsg(data, goal, 'total/goal-atl') === 'at-less'"
                 [class.goal-met]="getProgressMsg(data, goal, 'total/goal-met') === 'met'"
                 [class.goal-violated]="   getProgressMsg(data, goal, 'total/goal-ove') === 'over'
                                        || getProgressMsg(data, goal, 'total/goal-und') === 'under'">
                {{getProgress(data, goal, 'html')}}</p>;
              Desired: <p class="limit-value goal-info">{{data['goal']['freq']}} than {{data['goal']['threshold']}}</p>
              <!-- <p class="limit-value" [class.goal-ok]="goalProgress(data, goal) === 'at limit' ||
                            goalProgress(data, goal) === 'under'"
                 [class.goal-met]="goalProgress(data, goal) === 'met' ||
                            goalProgress(data, goal) === 'below limit'"
                 [class.goal-over]="goalProgress(data, goal) === 'over'">
                {{totalTrackedTimes(data, goal)}}</p> / <p class="limit-value goal-info">{{data['goal']['threshold']}}</p>
              per {{data['goal']['timespan'].toLowerCase()}} -->
            </div>

            <div class="goal-met limit-warning-message" *ngIf="getProgressMsg(data, goal, 'msg-met') === 'met'">
              Good job!
            </div>
            <div class="goal-ok limit-warning-message" *ngIf="getProgressMsg(data, goal, 'msg-atm') === 'at-more'">
              You're there!
            </div>
            <div class="goal-ok limit-warning-message" *ngIf="getProgressMsg(data, goal, 'msg-atl') === 'at-less'">
              You're at your limit.
            </div>
            <div class="goal-violated limit-warning-message" *ngIf="getProgressMsg(data, goal, 'msg-und') === 'under'">
              Keep going!
            </div>
            <div class="goal-violated limit-warning-message" *ngIf="getProgressMsg(data, goal, 'msg-ove') === 'over'">
              Try to cut back.
            </div>
            
            <!-- <div class="goal-met limit-warning-message" *ngIf="goalProgress(data, goal) === 'met'">
              You met your goal!
            </div>
            <div class="goal-met limit-warning-message" *ngIf="goalProgress(data, goal) === 'below limit'">
              You're under your limit!
            </div>
            <div class="goal-ok limit-warning-message" *ngIf="goalProgress(data, goal) === 'at limit'">
              You're at your limit!
            </div>
            <div class="goal-ok limit-warning-message" *ngIf="goalProgress(data, goal) === 'under'">
              Keep going!
            </div>
            <div class="goal-over limit-warning-message" *ngIf="goalProgress(data, goal) === 'over'">
              Try to cut back!
            </div> -->
          </div>
        </ng-container>
      </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="footer-wrapper">
  <div *ngIf="neighborData[goal][0] !== ''" (click)="onPreviousClick(); saveTrackedData()">
    <button class="align-left footer-button" icon-only>
      <ion-icon name="custom-chevron-left"></ion-icon>
    </button><p class="align-left footer-text text-left">{{neighborData[goal][0]+ "s"}}</p>

  </div>

  <div *ngIf="neighborData[goal][1] !== ''" (click)="onNextClick(); saveTrackedData()">
    <button class="align-right footer-button" icon-only>
      <ion-icon name="custom-chevron-right"></ion-icon>
    </button>
    <p class="align-right footer-text text-right" >{{neighborData[goal][1]+ "s"}}</p>
  </div>
</ion-footer>
