
<ion-header>
  <ion-toolbar color="ionBackground">
    <button class="align-left header-button" (click)="onHomeClick()" icon-only>
      <ion-icon name="custom-home"></ion-icon>
    </button>
    <ion-title class="title">{{monthNames[dateSelected["month"]] + " " + dateSelected["date"] + ", " + dateSelected["year"]}}</ion-title>
    <button class="align-right header-button" icon-only>
      <ion-icon name="custom-eraser"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-card class="goal-title-card">
    <ion-card-header class="goal-card-header">
      <img class="goal-icon"  [src]="'../../assets/pages/' + goal.toLowerCase() + '_icon.svg' " alt="">
      <div class="goal-text-wrapper">
        <p class="goal-text">Track</p>
        <p class="goal-text">{{goal}} Data</p>
      </div>
      <button class="align-right info-button" icon-only>
        <img [src]="'../../assets/pages/info_icon.svg' " alt="">
      </button>
    </ion-card-header>
  </ion-card>

  <ion-card text-center>

      <ion-card-content class="goal-card center">

        <ng-container *ngFor=" let data of dataToTrack[goal]">
          <p class="data-name">{{data['name']}}</p>
            <data-element-tracking [data]="data" [trackedMedsToday] = trackedMeds() (valueChanged) = 'changeVals($event, data, goal)'>
            </data-element-tracking>

<!--                <div class="goalDiv" *ngIf="data.goal && data.goal.freq && goal !== 'Symptom' ">-->
<!--                  <div>-->
<!--                    Goal: {{data.goal.freq}} than <span text-lowercase>{{data.goal.threshold}}-->
<!--                    per {{data.goal.timespan}}</span>-->
<!--                  </div>-->
<!--                  <div *ngIf="data.goal.timespan!=='Day'">-->
<!--                    Total this <span text-lowercase>{{data.goal.timespan}}</span> (including today):-->
<!--                    {{totalTrackedTimes(data, goal)}}-->
<!--                  </div>-->

<!--                  <div class="goalMet" *ngIf="goalProgress(data, goal) === 'met'">-->
<!--                    You met your goal!-->
<!--                  </div>-->
<!--                  <div class="goalMet" *ngIf="goalProgress(data, goal) === 'below limit'">-->
<!--                    You're under your limit!-->
<!--                  </div>-->
<!--                  <div class="goalOK" *ngIf="goalProgress(data, goal) === 'under'">-->
<!--                    Keep going!-->
<!--                  </div>-->
<!--                  <div class="overGoal" *ngIf="goalProgress(data, goal) === 'over'">-->
<!--                    Try to cut back!-->
<!--                  </div>-->
<!--                  <div class="goalOK" *ngIf="goalProgress(data, goal) === 'at limit'">-->
<!--                    You're at your limit!-->
<!--                  </div>-->
<!--                </div>-->

        </ng-container>
      </ion-card-content>

  </ion-card>




</ion-content>


  <ion-footer class="footer-wrapper">
    <div *ngIf="neighborData[goal][0] !== ''" (click)="onPreviousClick()">
      <button class="align-left footer-button" icon-only>
        <ion-icon name="custom-chevron-left"></ion-icon>
      </button><p class="align-left footer-text text-left">{{neighborData[goal][0]+ "s"}}</p>

    </div>

    <div *ngIf="neighborData[goal][1] !== ''" (click)="onNextClick()">
      <button class="align-right footer-button" icon-only>
        <ion-icon name="custom-chevron-right"></ion-icon>
      </button>
      <p class="align-right footer-text text-right" >{{neighborData[goal][1]+ "s"}}</p>
    </div>
  </ion-footer>
