<!--
  Generated template for the GoalModificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<script src="http://127.0.0.1:5984/databaseName/_design/couchAppName/vendor/couchapp/loader.js"></script>

<ion-header>

    <ion-navbar>
        <button ion-button menuToggle icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Debug</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-card-header text-wrap (click)="updateDB('migraine-tracker', 'document-2', {'pitcher':'Nolan Ryan'})">
            <ion-item class="headerItem">
                <span>Current Goals</span>
                <ion-icon class="headerIcon" item-right color="primary" name="create"></ion-icon>
            </ion-item>
        </ion-card-header>

<!--        <ion-card-content>-->
<!--            <ion-item text-wrap *ngFor="let goal of goalTypes">-->
<!--                {{goal}}-->
<!--                <ion-item *ngFor="let subgoal of goalHierarchy[goal]">-->
<!--                    {{subgoal}}-->
<!--                </ion-item>-->
<!--            </ion-item>-->

<!--            <ion-item *ngIf="textGoals !== undefined">-->
<!--                Custom-->
<!--                <ion-item>-->
<!--                    {{textGoals}}-->
<!--                </ion-item>-->
<!--            </ion-item>-->
<!--        </ion-card-content>-->
    </ion-card>



</ion-content>
