<ion-header>
  <ion-navbar text-right hideBackButton>
    <button ion-button menuToggle show icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span id="title" class="header-title-right">Home</span>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card class="no-goal-card" *ngIf="activeGoals === null">
    <ion-card-content>
      <p class="no-goal-title">Hello, configure your tracking goals to start!</p>
      <p class="no-goal-subtitle"> You have not configured any migraine tracking goals. Add a goal to start tracking!</p>
      <button class="add-goal-button" ion-button color="goalThemeDark" full icon-start (click)="configureGoals()">
        <ion-icon small class="add-goal-icon" name="custom-add-outline"></ion-icon>
        Add Goals
      </button>
    </ion-card-content>
  </ion-card>

	<ion-card class="no-goal-card" *ngIf="activeGoals && !activeGoals['dataToTrack']">
		<ion-card-content>
			<p class="no-goal-title">Configure tracking routines for your goals to start!</p>
			<p class="no-goal-subtitle"> You have not configured any migraine tracking routines. Add data to start tracking!</p>
			<button class="add-goal-button" ion-button color="goalThemeDark" full icon-start (click)="configureGoals()">
				<ion-icon small class="add-goal-icon" name="custom-add-outline"></ion-icon>
				Add Data
			</button>
		</ion-card-content>
	</ion-card>

  <ion-content padding text-center *ngIf="activeGoals && activeGoals['dataToTrack']">
    <ion-calendar #calendar *ngIf="activeGoals !== null" [dateSelected]="dateSelected" (onDaySelect)="onDaySelectClick($event)"></ion-calendar>

    <ng-container *ngFor="let dataType of dataTypes">

      <ion-card *ngIf="dataType === 'quickTracker'">
        <div class="center">
          <ion-card-content *ngIf="cardExpanded[dataType] || dataType === 'quickTracker'">
            <ng-container *ngFor=" let data of dataToTrack[dataType]" text-center>
                <h2 class="data-name">{{data.name}}</h2>
                <data-element-tracking [data]="data" [dataVal]="getDataVal(data)"
                                       [dataStart]="getDataStart(data)" [dataEnd]="getDataEnd(data)"
                                       [trackedMedsToday] = getTrackedMeds() (valueChanged) = 'changeVals($event, data, dataType)'>
                </data-element-tracking>

                <div class="limit-wrapper" *ngIf="data.goal && data.goal.freq && dataType !== 'Symptom' ">
                    <div class="limit-info-message" *ngIf="data.goal.timespan!=='Day'">
                        Total / goal :
                        <p class="limit-value" [class.goal-ok]="goalProgress(data, dataType) === 'at limit' ||
                            goalProgress(data, dataType) === 'under'"
                            [class.goal-met]="goalProgress(data, dataType) === 'met' ||
                            goalProgress(data, dataType) === 'below limit'"
                            [class.goal-over]="goalProgress(data, dataType) === 'over'">
                            {{totalTrackedTimes(data, dataType)}}</p> / <p class="limit-value goal-info">{{data.goal.threshold}}</p>
                        per {{data.goal.timespan.toLowerCase()}}
                    </div>

                    <div class="goal-met limit-warning-message" *ngIf="goalProgress(data, dataType) === 'met'">
                        You met your goal!
                    </div>
                    <div class="goal-met limit-warning-message" *ngIf="goalProgress(data, dataType) === 'below limit'">
                        You're under your limit!
                    </div>
                    <div class="goal-ok limit-warning-message" *ngIf="goalProgress(data, dataType) === 'at limit'">
                        You're at your limit!
                    </div>
                    <div class="goal-ok limit-warning-message" *ngIf="goalProgress(data, dataType) === 'under'">
                        Keep going!
                    </div>
                    <div class="goal-over limit-warning-message" *ngIf="goalProgress(data, dataType) === 'over'">
                        Try to cut back!
                    </div>
                </div>
            </ng-container>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card *ngIf="dataType !== 'quickTracker' && dataList[dataType] !== ''">
        <ion-card-header class="goal-card" (click)="onTrackGoalClick(dataType)">
            <div class="goal-examples-header">
                <span class="headerItem tracking-header">Track {{dataType}} Data</span>
                <img class="goal-icon" [src]="'../../assets/pages/' + dataType.toLowerCase() + '_icon.svg' " alt="">
            </div>
            <p class="data-examples">{{dataList[dataType]}}</p>
        </ion-card-header>
      </ion-card>

    </ng-container>
  </ion-content>
</ion-content>
