<ion-header>
  <ion-navbar text-right>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span id="title" class="header-title-right">Home</span>
  </ion-navbar>
</ion-header>

<ion-content>
<!--  <h3 *ngIf="activeGoals === null">Hello!</h3>-->

<!--  <ion-card *ngIf="activeGoals === null">-->
<!--    <ion-card-header>No Goals Configured</ion-card-header>-->
<!--    <ion-card-content>-->
<!--      <p> You have not configured any migraine tracking goals. Add a goal to start tracking! </p>-->
<!--      <button class="button" ion-button full icon-start (click)="addFirstGoal()">-->
<!--        <ion-icon name="add-circle"></ion-icon>-->
<!--        Add a Goal-->
<!--      </button>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->

  <ion-card class="no-goal-card" *ngIf="activeGoals === null">
<!--    <ion-card-header>Hello, configure your tracking goals to start</ion-card-header>-->

    <ion-card-content>
      <p class="no-goal-title">Hello, configure your tracking goals to start!</p>
      <p class="no-goal-subtitle"> You have not configured any migraine tracking goals. Add a goal to start tracking!</p>
      <button class="add-goal-button" ion-button full icon-start (click)="addFirstGoal()">
        <ion-icon small class="add-goal-icon" name="custom-add-outline"></ion-icon>
        Add Goals
      </button>
    </ion-card-content>
  </ion-card>

  <ion-content padding text-center>
    <ion-calendar *ngIf="activeGoals !== null" #calendar (onDaySelect)="onDaySelect($event)"></ion-calendar>

    <ng-container *ngFor="let dataType of dataTypes">

      <ion-card *ngIf="dataType === 'quickTracker'">
        <div class="center">
          <ion-card-content *ngIf="cardExpanded[dataType] || dataType === 'quickTracker'">
            <ng-container *ngFor=" let data of dataToTrack[dataType]">
                <h2 class="dataName">{{data.name}}</h2>

                <data-element-tracking [data]="data" [trackedMedsToday] = trackedMeds() (valueChanged) = 'changeVals($event, data, dataType)'>
                </data-element-tracking>

                <div class="goalDiv" *ngIf="data.goal && data.goal.freq && dataType !== 'Symptom' ">
                  <div>
                    Goal: {{data.goal.freq}} than <span text-lowercase>{{data.goal.threshold}}
                    per {{data.goal.timespan}}</span>
                  </div>
                  <div *ngIf="data.goal.timespan!=='Day'">
                    Total this <span text-lowercase>{{data.goal.timespan}}</span> (including today):
                    {{totalTrackedTimes(data, dataType)}}
                  </div>

                  <div class="goalMet" *ngIf="goalProgress(data, dataType) === 'met'">
                    You met your goal!
                  </div>
                  <div class="goalMet" *ngIf="goalProgress(data, dataType) === 'below limit'">
                    You're under your limit!
                  </div>
                  <div class="goalOK" *ngIf="goalProgress(data, dataType) === 'under'">
                    Keep going!
                  </div>
                  <div class="overGoal" *ngIf="goalProgress(data, dataType) === 'over'">
                    Try to cut back!
                  </div>
                  <div class="goalOK" *ngIf="goalProgress(data, dataType) === 'at limit'">
                    You're at your limit!
                  </div>
                </div>
            </ng-container>
          </ion-card-content>
        </div>
      </ion-card>

      <ion-card *ngIf="dataType !== 'quickTracker' && dataList[dataType] !== ''">
        <ion-card-header class="goal-card" (click)="onClickTrackGoal(dataType)">
          <span class="headerItem trackingHeader">Track {{dataType}} Data</span>
          <img class="goal-icon" [src]="'../../assets/pages/' + dataType.toLowerCase() + '_icon.svg' " alt="">
          <div class="dataExamples">
            <span>{{dataList[dataType]}}</span>
          </div>
        </ion-card-header>
      </ion-card>

    </ng-container>
  </ion-content>
</ion-content>


<!--  <ng-container *ngFor="let dataType of dataTypes">-->
<!--      <ion-card *ngIf="dataType !== 'quickTracker' && dataList[dataType] !== ''">-->
<!--        <ion-card-header class="goal-card" (click)="trackGoal(dataType)">-->
<!--            <span class="headerItem trackingHeader">Track {{dataType}} Data</span>-->
<!--            <img class="goal-icon" [src]="'../../assets/pages/' + dataType.toLowerCase() + '_icon.svg' " alt="">-->
<!--            <div class="dataExamples">-->
<!--              <span>{{dataList[dataType]}}</span>-->
<!--            </div>-->
<!--        </ion-card-header>-->
<!--    </ion-card>-->
<!--  </ng-container>-->

<!--  <button class="button" [disabled]="saved" ion-button full icon-start (click)="saveTrackedData()">Save</button>-->


