page-home {
  [show]{
    display: block !important;
  }

  ion-card-header.goal-card {
    padding-left: 20px;
    padding-right: 20px;
    border: 0.03em solid rgba(255, 255, 255, 0.3);
    border-radius: 8pt;
    background-color: var(--goal-card-background);
    height: 80px;
    vert-align: middle;
    justify-content: center;
  }

  .save-icon {
    width: 36pt;
  }

  .navbar-spinner{
    margin-top: 0;
    margin-right: 6px;
    margin-bottom: 0;
    margin-left: 6px !important;
    min-width: 44px;
  }

  .spinner-visible{
    visibility: visible;
  }

  .spinner-invisible{
    visibility: hidden;
  }

  .spinner-hidden{
    display: none;
  }

  .feedback-hidden{
    display: none;
  }

  .align-right {
    float: right;
    margin-right: 4%;
  }

  .goal-examples-header {
    display: block;
    text-align: left;
  }

  .tracking-header{
    font-size: 13pt;
    background-color: var(--goal-card-background);
    display: inline;
  }

  .goal-icon {
    width: 36pt;
    display: inline;
    float: right;
  }

  .data-examples{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 3pt;
    font-size: 9pt;
    max-height: 1.5em;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: 70%;
    display: block;
    margin-bottom: 20px;
    text-align: left;
  }

  .data-name{ 
    text-align: left; //YSS added this to be consistent with how items appear under Track Symptom Data, Track Treatment Data, ...
                      //    NOTE that adding the eraser would otherwise look very different which is undesirable.
    font-size: 13pt !important;
    font-weight: bold;
    padding-bottom: 15pt;
    padding-top: 15pt;
  }

  .limit-wrapper{
    font-style: italic;
    font-size: 1.7rem;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    padding-left: 35px;
    padding-right: 30px;
  }

  .goal-met{
    color: var(--green-text);
  }

  .goal-over{
    color: var(--red-text)
  }

  .goal-violated{
    color: var(--red-text)
  }

  .goal-ok{
    color: var(--blue-accent)
  }

  .goal-info {
    color: var(--info-theme);
  }

  .limit-warning-message {
    font-size: 10pt;
    font-weight: bold;
  }

  .limit-info-message {
    font-size: 11pt;
    font-weight: bold;
  }

  .limit-value {
    display: inline-block;
    font-size: 11pt;
  }

  .align-right {
    text-align: left;
  }

  .center {
    display: inline-block;
    justify-content: center;
  }

  .no-goal-card {
    justify-content: left;
  }

  .no-goal-title {
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: bold;
    font-size: 24pt;
    max-width: 100%;
  }

  .no-goal-subtitle {
    padding-bottom: 15%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 12pt;
    max-width: 80%;
  }

  .add-goal-button {
    z-index: 9999;
    background: var(--goal-theme);
    width: 60%;
    margin-left: 4%;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    justify-content: center;
    padding-right: 2%;
    padding-left: 2pt;
    text-align: center;
    border-radius: 8pt;
  }

  .add-goal-icon {
    padding-right: 30pt;
  }
}
