<!--
  Generated template for the GoalTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <div class="progress-bar-wrapper">
    <span class="progress-bar" [style.width]="workoutProgress"></span>
  </div>
</ion-header>





<ion-content>
  <div class="ion-content-wrapper">
    <ion-card class="goal-title-card">
      <ion-card-header class="goal-card-header">
        <img class="goal-title-icon"  [src]="'../../assets/pages/goal_icon.svg' " alt="">
        <div class="goal-title-text-wrapper">
          <p class="goal-title-text">Select your migraine</p>
          <p class="goal-title-text">tracking goals</p>
        </div>
  <!--      <button class="align-right info-button" icon-only>-->
  <!--        <img [src]="'../../assets/pages/info_icon.svg' " alt="">-->
  <!--      </button>-->
      </ion-card-header>
    </ion-card>

    <ion-card class="goal-card center" *ngFor="let goal of goalList">

      <ion-card-header class="goal-header" (click)="selectedGoals.indexOf(goal.goalID)===-1 ? addGoal(goal) :  removeGoal(goal)">
        <div class="goal-name-wrapper">
          <ion-icon class="goal-icon" name="{{'custom-' + goal['name'].slice(0, -3).toLowerCase()}}"></ion-icon>
          <p class="goal-name">{{goal['name'].slice(0, -3)}}</p>
        </div>
        <div class="effort-wrapper">
          <p class="effort-dot-fill"></p>
          <p class="effort-dot-outline" [class.effort-dot-fill]="goal['effort'] ==='medium' || goal['effort'] ==='high'"></p>
          <p class="effort-dot-outline"[class.effort-dot-fill]="goal['effort'] ==='high'"></p>
          <p class="effort-text">{{goal['effort']}} effort </p>
        </div>
      </ion-card-header>

      <ion-card-content class="goal-card-content">
        <p class="goal-reason-text" *ngIf="selectedGoals.indexOf(goal.goalID) === -1" text-wrap>{{goal['chooseReason']}}</p>
        <p class="goal-reason-text" *ngIf="selectedGoals.indexOf(goal.goalID) > -1" text-wrap>{{goal['chooseReasonDetail']}}</p>

        <div class="sub-goal-list-wrapper">
          <ion-list no-lines class="sub-goal-list" *ngIf="goal['subgoals'] && selectedGoals.indexOf(goal.goalID) > -1">
            <ion-item class="sub-goal-list-item" *ngFor="let subgoal of goal['subgoals']" text-wrap>

              <button class="align-left subgoal-btn" (click)="addGoal(goal, subgoal.goalID)" *ngIf="selectedGoals.indexOf(subgoal.goalID)===-1" icon-only>
                <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
              </button>

              <button class="align-left subgoal-btn" (click)="removeGoal(goal, subgoal.goalID)" *ngIf="selectedGoals.indexOf(subgoal.goalID)>-1" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>

              <p class="sub-goal-text" (click)="selectedGoals.indexOf(subgoal.goalID)===-1 ? addGoal(goal, subgoal.goalID) : removeGoal(goal, subgoal.goalID)">{{subgoal['goalPurpose']}}</p>
            </ion-item>
          </ion-list>
        </div>

        <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) > -1" (click)="removeGoal(goal)" icon-only>
          <img [src]="'../../assets/pages/drop_up_icon.svg' " alt="">
        </button>

        <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) === -1" (click)="addGoal(goal)" icon-only>
          <img [src]="'../../assets/pages/drop_down_icon.svg' " alt="">
        </button>



<!--        <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) > -1" (click)="addGoal(goal)" icon-only>-->
<!--          <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">-->
<!--        </button>-->

<!--        <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) === -1" (click)="addGoal(goal)" icon-only>-->
<!--          <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">-->
<!--        </button>-->


  <!--      <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) > -1" (click)="addGoal(goal)" icon-only>-->
  <!--        <ion-icon item-right color="light" name="arrow-dropup"></ion-icon>-->
  <!--      </button>-->

  <!--      <button class="align-right goal-btn" *ngIf="selectedGoals.indexOf(goal.goalID) === -1" (click)="addGoal(goal)" icon-only>-->
  <!--        <ion-icon item-right color="light" name="arrow-dropdown"></ion-icon>-->
  <!--      </button>-->

      </ion-card-content>

    </ion-card>

  <!--  <ion-card>-->
  <!--    <ion-card-header>-->
  <!--      Other Goals-->
  <!--      <ion-icon class="goalIcon" item-left name="md-create"></ion-icon>-->
  <!--    </ion-card-header>-->
  <!--    <ion-card-content>-->
  <!--      <div  class="dropdownText" text-wrap (click)="textGoalExpand = !textGoalExpand;">-->
  <!--        <span class="dropdownName">Do you have any other goals you want to remember?</span>-->
  <!--        <ion-icon item-right class="dropdownIcon" *ngIf="!textGoalExpand" name="arrow-dropdown"></ion-icon>-->
  <!--        <ion-icon item-right class="dropdownIcon"  *ngIf="textGoalExpand" name="arrow-dropup"></ion-icon>-->
  <!--      </div>-->
  <!--      <div *ngIf="textGoalExpand">-->
  <!--        <p>-->
  <!--          Record any other migraine-related goals you want have so you can-->
  <!--          reflect on them later or share them with your doctor!-->
  <!--        </p>-->
  <!--        <ion-textarea [(ngModel)]="textGoals" placeholder="Write any other goals you have here."></ion-textarea>-->
  <!--      </div>-->
  <!--    </ion-card-content>-->
  <!--  </ion-card>-->


  <!--  <button *ngIf="modifying" float-left ion-button (click)="continueSetup(true)" [color]="goalsWithoutSubgoals.length == 0 && selectedGoals.length > 0 ? 'primary': 'light' "-->
  <!--          [disabled]="selectedGoals.length === 0 || goalsWithoutSubgoals.length > 0">-->
  <!--    Save-->
  <!--  </button>-->


  <!--  <button *ngIf="!modifying" float-right ion-button (click)="continueSetup()" [color]="goalsWithoutSubgoals.length == 0 && selectedGoals.length > 0 ? 'primary': 'light' "-->
  <!--          [disabled]="selectedGoals.length === 0 || goalsWithoutSubgoals.length > 0">-->
  <!--    Continue-->
  <!--  </button>-->

  <!--  <button *ngIf="modifying" float-right ion-button (click)="continueSetup()" [color]="goalsWithoutSubgoals.length == 0 && selectedGoals.length > 0 ? 'primary': 'light' "-->
  <!--          [disabled]="selectedGoals.length === 0 || goalsWithoutSubgoals.length > 0">-->
  <!--    Modify Tracking-->
  <!--  </button>-->
  </div>

</ion-content>
