ion-calendar {

  .center {
    text-align: center;
  }

  .calendar-header-col {
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
    color: var(--ion-text-color);
  }

  .calendar-row {
    .calendar-col {
      display: flex;
      justify-content: center;
      font-size: 10pt;
    }
    .not-this-month {
      color: var(--navbar-background-color);
      font-weight: bold;
      //visibility: hidden;
    }
    .today {
      color: var(--info-theme);
      font-weight: bold;
    }
    .select {
      color: var(--ion-background-color);
      background: rgba(255, 255, 255, 1);
      font-weight: bold;
      border-radius: 6pt;
      border: white;
    }
    .select-disabled {
      color: var(--ion-background-color);
      background: none;
      font-weight: bold;
      border-radius: 6pt;
      //border: white;
    }

    .calendar-day {

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;

      .day-text {
        margin: 2px;
      }
  
      .with-symptom {
        border-radius: 5px;
        background-color: rgba(216, 171, 49, 0.486);
      }

      .tracking-data {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        .dot-mark {
          width: 4px;
          height: 4px;
          border-radius: 4px;
          margin-top: 2px;
        }
  
        .change {
          //background: purple;
          background: var(--change-theme);
        }
    
        .symptom {
          background: red;
          //background: var(--symptom-theme);
        }
    
        .treatment {
          background: green;
          //background: var(--treatment-theme);
        }
    
        .contributor {
          background: orange;
          //background: var(--contributor-them);
        }
    
        .other {
          //background: pink;
          background: var(--other-theme);
        }
      }  
      
    }
  }

  .calendar-btn {
    width: 110%;
    height: 30pt;
    position: relative;
    left: -5%;
    border-radius: 8pt;
    text-align: left;
    vertical-align: middle;
    display: inline;
    background: none;
    color: white;
    font-size: 10pt;
    border: 1pt solid rgba(255, 255, 255, 0.3);
    padding-left: 8pt;
    padding-right: 8pt;
  }

  .calendar-icon {
    position: relative;
    top: 1.5pt;
    padding-right: 18pt;
  }

  .calendar-label {
    position: relative;
    top: 1pt;
    font-style: italic;
    color: var(--hint-text);
    float: right;
  }

  .calendar-title {
    font-weight: bold;
  }

  .calendar-box {
    background: none;
    border-radius: 10pt;
    border: 1pt solid white;
    width: 85%;
    margin: 0 auto;
    padding: 5pt;
  }
}
