ion-calendar {
  .center {
    text-align: center;
  }

  .calendar-header-col {
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
    color: var(--ion-text-color);
  }

  .calendar-row {
    .calendar-col {
      display: flex;
      justify-content: center;
      font-size: 10pt;
    }
    .not-this-month {
      color: var(--navbar-background-color);
      font-weight: bold;

    }
    .today {
      color: var(--info-theme);
      font-weight: bold;
    }
    .select {
      color: var(--ion-background-color);
      background: rgba(255, 255, 255, 1);
      font-weight: bold;
      border-radius: 6pt;
      border: white;
    }
  }

  .calendar-btn {
    width: 110%;
    height: 30pt;
    position: relative;
    left: -5%;
    border-radius: 8pt;
    text-align: left;
    vertical-align: middle;
    display: inline;
    background: none;
    color: white;
    font-size: 10pt;
    border: 1pt solid rgba(255, 255, 255, 0.3);
    padding-left: 8pt;
    padding-right: 8pt;
  }

  .calendar-icon {
    position: relative;
    top: 1.5pt;
    padding-right: 18pt;
  }

  .calendar-label {
    position: relative;
    top: 1pt;
    font-style: italic;
    color: var(--hint-text);
    float: right;
  }

  .calendar-title {
    font-weight: bold;
  }

  .calendar-box {
    background: none;
    border-radius: 10pt;
    border: 1pt solid white;
    width: 85%;
    margin: 0 auto;
    padding: 5pt;
  }
}
