<ion-card class="calendar-card">
  <ion-card-content>
    <button class="calendar-btn" (click)="expandCalendar()">
      <ion-icon name="custom-calendar" class="calendar-icon"></ion-icon>
      <label *ngIf="displayDate.isToday">Today</label>
      <label *ngIf="!displayDate.isToday">{{displayDateText}}</label>
      <label *ngIf="!isExpandCalendar" class="calendar-label">Change Date</label>
      <label *ngIf="isExpandCalendar" class="calendar-label">Hide Calendar</label>
    </button>
  </ion-card-content>
</ion-card>

<div *ngIf="isExpandCalendar" class="calendar-box">
  <ion-grid>
      <ion-row justify-content-center>
          <ion-col col-auto (click)="back()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-col>
          <ion-col class="calendar-title" col-auto>
              <div>{{monthNames[displayDate['month']]}} {{displayDate['year']}}</div>
          </ion-col>
          <ion-col col-auto (click)="forward()" *ngIf="displayDate['month'] !== currentDate['month']">
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
      </ion-row>
      <ion-row class="calendar-row" *ngFor="let week of weekArray; let i = index">
        <ion-col class="center calendar-col" (click)="daySelect(day, i, j)"
                 *ngFor="let day of week; let j = index"
                 [ngClass]="[
                             day['isThisMonth'] ? 'this-month' : 'not-this-month',
                             day['isToday'] ? 'today' : '',
                             day['isSelect'] ? 'select' : '',
                             day['year'] === currentDate['year'] 
                               && day['month'] === currentDate['month'] 
                               && day['date'] > currentDate['date'] ? 'not-this-month' : 'this-month'
                            ]"> 
          <div class="calendar-day">
            <div [ngClass]="day['symptomExists'] ? 'with-symptom': ''">
              <p class="day-text">{{day['date'] | number:'2.0'}}</p>
            </div>
            <!-- 
              it is intentional that I do not use *ngFor over the selected goals and instead have
              five different div elements, each associated with a goal type: selected goals may change
              over time but the visualization should represent what exists in the data 
             -->
            <div class="tracking-data">
              <div class="dot-mark" *ngIf="noDataReported(day)"></div>
              <div class="dot-mark change" *ngIf="trackingDataReported(day, 'change')"></div>
              <div class="dot-mark symptom" *ngIf="trackingDataReported(day, 'symptom')"></div>
              <div class="dot-mark treatment" *ngIf="trackingDataReported(day, 'treatment')"></div>
              <div class="dot-mark contributor" *ngIf="trackingDataReported(day, 'contributor')"></div>
              <div class="dot-mark other" *ngIf="trackingDataReported(day, 'other')"></div>
            </div>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</div>

<!-- <ion-card class="calendar-card">
  <ion-card-content>
    <button class="calendar-btn" (click)="expandCalendar()">
      <ion-icon name="custom-calendar" class="calendar-icon"></ion-icon>
      <label *ngIf="displayDate.isToday">Today</label>
      <label *ngIf="!displayDate.isToday">{{displayDateText}}</label>
      <label *ngIf="!isExpandCalendar" class="calendar-label">Change Date</label>
      <label *ngIf="isExpandCalendar" class="calendar-label">Hide Calendar</label>
    </button>
  </ion-card-content>
</ion-card> -->
<!-- YSS I did not like how it looked like. 
         It was odd to see the calendar open upward when expanding 
         I think coupling of displayDateText and dateSelected is sufficient
         if the goal is to signal what date is active (i.e. selected)
         to ensure people record data against that date. Before the coupling,
         there was a chance that after navigating back and forth, people did 
         not know what date their data is being recorded against (they must
         have paid attention to what was displayed in the bar which could have
         been very different from what the calendar box displayed).
-->