<ion-card class="calendar-card">
  <ion-card-content>
    <button class="calendar-btn" (click)="expandCalendar()">
      <ion-icon name="custom-calendar" class="calendar-icon"></ion-icon>
      <label *ngIf="displayDate.isToday">Today</label>
      <label *ngIf="!displayDate.isToday">{{displayDateText}}</label>
      <label *ngIf="!isExpandCalendar" class="calendar-label">Change Date</label>
      <label *ngIf="isExpandCalendar" class="calendar-label">Hide Calendar</label>
    </button>
  </ion-card-content>
</ion-card>

<div *ngIf="isExpandCalendar" class="calendar-box">
  <ion-grid>
      <ion-row justify-content-center>
          <ion-col col-auto (click)="back()">
              <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-col>
          <ion-col class="calendar-title" col-auto>
              <div>{{monthNames[displayDate['month']]}} {{displayDate['year']}}</div>
          </ion-col>
          <ion-col col-auto (click)="forward()" *ngIf="displayDate['month'] !== currentDate['month']">
              <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
      </ion-row>
      <ion-row class="calendar-row" *ngFor="let week of weekArray; let i = index">
        <ion-col class="center calendar-col" (click)="daySelect(day, i, j)"
                 *ngFor="let day of week; let j = index"
                 [ngClass]="[
                             day['isThisMonth'] ? 'this-month' : 'not-this-month',
                             day['isToday'] ? 'today' : '',
                             day['isSelect'] ? 'select' : '',
                             day['year'] === currentDate['year'] 
                               && day['month'] === currentDate['month'] 
                               && day['date'] > currentDate['date'] ? 'not-this-month' : 'this-month'
                            ]"> 
                  <!-- YSS NOTE
                    add a class based on whether anything is tracked on a particular data within [ngClass]
                    [ngClass] = [day['hasTrackedData'] ? 'tracked'+day['trackedData']: '', 
                                 day['isThisMonth'] ? 'this-month' : 'not-this-month', ...]
                    .tracked1   only symptoms
                    .tracked2   only treatments
                    .tracked4   only contributors
                    .tracked8   only change
                    .tracked3   symptoms and treatments
                    .tracked5   symptoms and contributors
                    .tracked9   symptoms and change
                    .tracked6   treatments and contributors
                    .tracked10  treatments and change
                    .tracked12  contributors and change
                    .tracked7   symptoms, treatments, and contributors
                    .tracked11  symptoms, treatments, and change
                    .tracked13  symptoms, contributors, and change
                    .tracked14  treatments, contributors, and change
                    .tracked15  symptoms, treatments, contributors, and change

                    Another idea is to add an icon next to {{day['date']}} depending on day['trackedData'],
                    although adding a colored circled underneath {{day['date']}} is more preferred. I think 
                    this can be achieved by
                      <some-circle-element [ngClass]="day['hasTrackedData'] ? 'tracked'+day['trackedData']: ''">
                        {{day['date']}}
                      <\some-circle-element>
                  -->
          {{day['date']}}
        </ion-col>
      </ion-row>
  </ion-grid>
</div>
