<ion-header>
  <ion-navbar text-right hideBackButton>
    <button ion-button menuToggle show icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span id="title" class="header-title-right">Modify Tracking Routines</span>
  </ion-navbar>
</ion-header>

<ion-content class="content">
    <div class="ion-content-wrapper">
      <ion-card class="goal-card center" *ngFor="let dataType of allDataTypes">
        <ion-card-header class="goal-header-wrapper" text-wrap >
            <img class="goal-title-icon"  [src]="'../../assets/pages/' + dataType.toLowerCase() + '_icon.svg' " alt="">
            <p class="goal-title-text">{{dataType}} Data</p>
            <button class="align-right edit-button" icon-only>
                <img [src]="'../../assets/pages/edit_icon.svg'" alt="">
            </button>
        </ion-card-header>

        <ion-card-content>
          <ion-list no-lines *ngFor="let data of currentData[dataType]">
              <div class="goal-list-item">
                  <button class="align-left check-radio-btn" icon-only>
                      <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
                  </button>
                  <p class="goal-data-title">{{data.name}}</p>
              </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
