// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

:root {
  /* Set the background of the entire app */
  //--ion-background-color: #4a4a4a;
  //
  //--placeholder-color: white;
  //
  //--ion-text-color: #FFFFFF;
  //
  //--input-config-background: #bdbdbd;
  //--input-config-text: black;
  //--input-placeholder-text:  #3B3B3B;
  //
  //--blue-accent: #4A90E2;
  //--lighter-grey: #979797;
  //--sublist-color: #3B3B3B;
  //
  //
  //--green-text: #5aa35a;
  //--red-text: #b33636;


  --ion-background-color: rgba(9, 17, 58, 1);
  --navbar-background-color: rgba(45, 48, 90, 1);

  --placeholder-color: white;
  --ion-text-color: white;
  --input-config-background: #bdbdbd;
  --input-config-text: black;
  --input-placeholder-text:  #3B3B3B;
  --blue-accent: #4A90E2;
  --lighter-grey: #979797;
  --sublist-color: #3B3B3B;
  --green-text: #5aa35a;
  --red-text: #b33636;
  --orange-text: #F57928;

  --hint-text: #bdbdbd;
  --warning-orange: orange;
  --subtitle: #707070;
  --goal-card-background: #151D50;

  --change-theme: #542074;
  --symptom-theme: #2A8CAA;
  --treatment-theme: #E09845;
  --contributor-theme: #30916C;
  --other-theme: #D09595;
  --goal-theme: #288686;
  --info-theme: #FFD13B;



}


//ion-content {
//  --padding-top: 1000px;
//  --padding-bottom: 100px;
//  --padding-start: 100px;
//  --padding-end: 100px;
//}

//
//:root {
//  /* Set the background of the entire app */
//  --ion-background-color: #4a4a4a;
//  --placeholder-color: white;
//  --ion-text-color: #FFFFFF;
//  --input-config-background: #bdbdbd;
//  --input-config-text: black;
//  --input-placeholder-text:  #3B3B3B;
//  --blue-accent: #4A90E2;
//  --lighter-grey: #979797;
//  --sublist-color: #3B3B3B;
//  --green-text: #5aa35a;
//  --red-text: #b33636;
//}





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #4A90E2,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  base:       #4a4a4a,
  midgrey:       #979797,
  mutedPrimary: #c8ddf6,
  ionBackground: rgba(9, 17, 58, 1),
  infoTheme: #FFD13B,
  goalThemeDark: #105D5D,
  darkRed: #88212D,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.


//// see https://ionicframework.com/docs/v3/theming/overriding-ionic-variables/ to set!
//@import "ionic.theme.dark";
//$background-color: #4a4a4a;
//$card-ios-background-color: #4a4a4a;
//$action-sheet-md-title-color: #4a4a4a;
//$card-md-background-color: #4a4a4a;
//$card-wp-background-color: #4a4a4a;
//$list-background-color: #3B3B3B;
//$text-color:        #FFFFFF;
//$card-ios-text-color: #FFFFFF;
//$card-md-text-color: #FFFFFF;
//$card-wp-text-color: #FFFFFF;
//$card-ios-title-text-color: #FFFFFF;
//$card-md-title-text-color: #FFFFFF;
//$card-wp-title-text-color: #FFFFFF;
////$button-ios-background-color: #4a4a4a;
////$button-md-background-color: #4a4a4a;
////$button-wp-background-color: #4a4a4a;
////$font-size-base: 24px;
//$card-ios-header-font-size: 2rem;
//$card-ios-font-size: 1.5rem;
//$h3-font-size: 2rem;
//$h2-font-size:2rem;


// see https://ionicframework.com/docs/v3/theming/overriding-ionic-variables/ to set!
@import "ionic.theme.dark";
$background-color: var(--ion-background-color);
$card-ios-background-color: var(--ion-background-color);
$action-sheet-md-title-color: var(--ion-background-color);
$card-md-background-color: var(--ion-background-color);
$card-wp-background-color: var(--ion-background-color);
$list-background-color: var(--ion-background-color);
$text-color: #FFFFFF;
$fab-list-margin: 40px;

$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;

$list-ios-activated-background-color: none;
$list-md-activated-background-color: none;
$list-wp-activated-background-color: none;

$list-ios-margin-left: 25px;
$list-md-margin-left: 25px;
$list-wp-margin-left: 25px;

$card-ios-text-color: #FFFFFF;
$card-md-text-color: #FFFFFF;
$card-wp-text-color: #FFFFFF;
$card-ios-title-text-color: #FFFFFF;
$card-md-title-text-color: #FFFFFF;
$card-wp-title-text-color: #FFFFFF;
$card-ios-header-font-size: 2rem;
$card-ios-font-size: 1.5rem;

$h3-font-size: 2rem;
$h2-font-size:2rem;

$datetime-ios-placeholder-color: white;

$range-ios-knob-width: 30px;
$range-md-knob-width: 30px;
$range-wp-knob-width: 30px;

$range-ios-pin-font-size: 14pt;
$range-md-pin-font-size: 14pt;
$range-wp-pin-font-size: 14pt;

$range-ios-bar-height: 4px;
$range-md-bar-height: 4px;
$range-wp-bar-height: 4px;

$range-ios-slider-height: 52px;
$range-md-slider-height: 52px;
$range-wp-slider-height: 52px;

$range-ios-tick-height: 0;
$range-md-tick-height: 0;
$range-wp-tick-height: 0;

$range-ios-bar-background-color: rgba(255, 255, 255, 0.4);
$range-md-bar-background-color: rgba(255, 255, 255, 0.4);
$range-wp-bar-background-color: rgba(255, 255, 255, 0.4);



// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
