// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alert-ios .alert-radio-label{ white-space: pre-line;}
.alert-md .alert-radio-label{ white-space: pre-line;}
.alert-wp .alert-radio-label{ white-space: pre-line;}

html {
  font-size: 65%;
}

.headerIcon{
  float:right;
  //text-align: right;
}

.headerItem{
  background-color: var(--ion-background-color);
  font-size: 2rem;
  //text-align: right;
}


ion-card{
  padding: 0 !important;
  border: 0 !important;
}

ion-card-content h2{
  font-size: 1.9rem !important;
  padding-bottom:0.25em;
}

ion-card-content h3{
  font-size: 1.7rem !important;
  padding-bottom:0.25em;
}


.select-modal {
  background: rgba(0, 0, 0, 0.5) !important;
  padding-top: 30% !important;
}

.transparent {
  opacity: 0.3;
}

.card-header{
  color:white;
}

.toolbar-background {
  background-color: var(--navbar-background-color);
}

ion-navbar {
  ion-title {
    right: 1px;
  }
}

.header-title-right {
  padding-right: 8pt;
  font-size: 12pt;
  color: white;
  font-weight: bold;
}

.menu-item:active {
  font-weight: bold;
  color: var(--goal-theme);
}

.menu-item {
  font-weight: bold;
}

.highlight-menu-item {
  font-weight: bold;
  color: var(--goal-theme);
}

// ================= datetime picker START =================
.picker-ios .picker-toolbar {
  border-top: 2px solid var(--info-theme);
  border-bottom: 0 solid #000;
}

.picker-opt-selected {
  border-radius: 10px;
  font-weight: bold;
}

.picker-opt.picker-opt-selected {
    color: var(--info-theme);
}

.picker-above-highlight {
  display: none;
  visibility:hidden;
}

.picker-below-highlight {
  display: none;
  visibility:hidden;
}

.picker-toolbar-button .button-inner {
  color: var(--info-theme) !important;
  font-weight: bold;
}

.picker-toolbar-cancel .button-inner  {
  color: white !important;
  font-weight: bold;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
// ================= datetime picker END =================


// ================= select START =================

.input-wrapper {
  color: white;
  font-size: 12pt;
  font-weight: bold;
}

.popover-ios .popover-content{
  border: 2px solid var(--info-theme);
  width: 175px;
}

.item-ios.item-block .item-inner {
  padding-right: 8px;
  padding-left: 8px;
  border-bottom: 1px solid white;
}

.popover-ios .item-ios {
  padding-right: 10px;
  padding-left: 10px;
}

.popover-ios .popover-arrow {
  visibility: hidden;
}

.select-ios .select-icon {
  background: none;
}

.select-ios .select-icon .select-icon-inner {
  visibility: hidden;
}

.radio-ios .radio-icon {
  visibility: hidden;
}

.item-radio-checked.item-ios ion-label {
  color: var(--info-theme);
}

ion-select {
  max-width: 150px;
  display: inline-block;
  vertical-align: middle;
  background: none;
  border-radius: 10px;
  border: solid 2px white;
  width: 150px;
  margin-top: 10pt;
  margin-bottom: 10pt;
  height: 45px;
  font-size: 12pt;
  font-weight: bold;
}

.select-ios .select-placeholder {
  color: white;
}
// ================== select END ==================

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  &[class*="custom-calendar"] {
    mask-image: url(../assets/pages/calendar_icon.svg);
  }
  &[class*="custom-add-outline"] {
    mask-image: url(../assets/pages/add_icon.svg);
  }
  &[class*="custom-home"] {
    mask-image: url(../assets/pages/home_icon.svg);
  }
  &[class*="custom-eraser"] {
    mask-image: url(../assets/pages/eraser_icon.svg);
  }
  &[class*="custom-info"] {
    mask-image: url(../assets/pages/info_icon.svg);
  }
  &[class*="custom-chevron-right"] {
    mask-image: url(../assets/pages/chevron_right_icon.svg);
  }
  &[class*="custom-chevron-left"] {
    mask-image: url(../assets/pages/chevron_left_icon.svg);
  }
  &[class*="custom-close"] {
    mask-image: url(../assets/pages/close_icon.svg);
  }
  &[class*="custom-expand"] {
    mask-image: url(../assets/pages/expand_icon.svg);
  }
  &[class*="custom-collapse"] {
    mask-image: url(../assets/pages/collapse_icon.svg);
  }
  &[class*="custom-edit"] {
    mask-image: url(../assets/pages/edit_icon.svg);
  }
  &[class*="custom-monitor"] {
    mask-image: url(../assets/pages/monitor_icon.svg);
  }
  &[class*="custom-predict"] {
    mask-image: url(../assets/pages/predict_icon.svg);
  }
  &[class*="custom-learn"] {
    mask-image: url(../assets/pages/learn_icon.svg);
  }
  &[class*="custom-other-note"] {
    mask-image: url(../assets/pages/other_note_icon.svg);
  }
  &[class*="custom-add-radio"] {
    mask-image: url(../assets/pages/add_radio_icon.svg);
  }
  &[class*="custom-check-radio"] {
    mask-image: url(../assets/pages/check_radio_icon.svg);
  }
  &[class*="custom-uncheck-radio"] {
    mask-image: url(../assets/pages/uncheck_circle_icon.svg);
  }



  &[class*="colored-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    border-radius: 50%;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }
  &[class*="colored-change"] {
    background-size: 32px;
    background-image: url(../assets/pages/change_icon.svg);
  }
  &[class*="colored-symptom"] {
    background-size: 32px;
    background-image: url(../assets/pages/symptom_icon.svg);
  }
  &[class*="colored-treatment"] {
    background-size: 32px;
    background-image: url(../assets/pages/treatment_icon.svg);
  }
  &[class*="colored-contributor"] {
    background-size: 32px;
    background-image: url(../assets/pages/contributor_icon.svg);
  }
  &[class*="colored-other"] {
    background-size: 32px;
    background-image: url(../assets/pages/other_icon.svg);
  }
  &[class*="colored-change-check"] {
    background-size: 32px;
    background-image: url(../assets/pages/change_check_icon.svg);
  }
  &[class*="colored-symptom-check"] {
    background-size: 32px;
    background-image: url(../assets/pages/symptom_check_icon.svg);
  }
  &[class*="colored-treatment-check"] {
    background-size: 32px;
    background-image: url(../assets/pages/treatment_check_icon.svg);
  }
  &[class*="colored-contributor-check"] {
    background-size: 32px;
    background-image: url(../assets/pages/contributor_check_icon.svg);
  }
  &[class*="colored-other-check"] {
    background-size: 32px;
    background-image: url(../assets/pages/other_check_icon.svg);
  }
}
