page-goal-modification {
  .align-right {
    float: right;
    margin-right: 4%;
  }

  .goal-card-header {
    justify-content: center;
    vertical-align: center;
  }

  .goal-title-text-wrapper {
    position: absolute;
    left: 35%;
    right: 23%;
    top: 55pt;
  }

  .goal-card-content{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .goal-title-text {
    font-size: 15pt;
    font-weight: bold;
    max-width: 40%;
  }

  .goal-title-icon {
    position: absolute;
    left: 7%;
    width: 65pt;
    top: 30pt;
    float: left;
  }

  .edit-button {
    background: none;
    position: absolute;
    right: 12px;
    width: 50px;
    top: 50pt;
    float: right;
  }

  .goal-title-card {
    margin-bottom: 25px;
  }

  .goal-card {
    position: relative;
    top: 70px;
    margin-top: 10px;
    margin-bottom: 90px;
    background: var(--goal-card-background);
    border-radius: 15px;
  }

  .goal-icon {
    font-size: 30pt;
    display: inline-block;
  }

  .goal-name-wrapper {
    float: left;
    text-align: left;
    display: inline-block;
  }

  .goal-name {
    font-size: 18pt;
    font-weight: bold;
    display: inline-block;
    position: relative;
    top: -10px;
  }

  .effort-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    display: block;
  }

  .effort-dot-fill {
    background: var(--info-theme);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid var(--info-theme);
  }

  .effort-dot-outline {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid var(--info-theme);
  }

  .effort-wrapper {
    display: inline-block;
    position: relative;
    top: -5px;
    float: right;
    text-align: right;
  }

  .sub-goal-chosen-text {
    font-size: 12pt;
    font-weight: bold;
    line-height: 16px;
    padding-top: 14px;
  }

  .center {
    display: inline-block;
    justify-content: center;
  }

  .ion-content-wrapper {
    padding: 10px;
  }

  .content {
    height: 100%;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

}
