page-edit-data {

  .modal-fullscreen {
    .modal-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .data-header-wrapper {
    background: var(--goal-card-background);
    padding: 10px 30px 0 30px;
  }

  .data-header-title-text {
    font-size: 16pt;
    font-weight: bold;
  }

  .data-header-explanation-text {
    font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .recommended-goal-title {
    font-size: 12pt;
    font-weight: bold;
    padding: 15px 0 0 0;
  }

  .recommended-goal-text {
    font-size: 11pt;
    padding: 0 15px 0 15px;
    font-style: italic;
    margin-top: -5px;
  }

  .data-content-wrapper {
    padding: 10px 30px 0 30px;
  }

  .data-tracking-method-title {
    font-size: 16pt;
    font-weight: bold;
    padding: 5px 0 0 0;
  }

  .data-tracking-method-option {
    padding: 0 15px 0 15px;
  }

  .data-tracking-method-explanation {
    color: white;
    font-size: 10pt;
    margin-top: 5px;
  }

  .data-tracking-method-name {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: -5px;
  }

  .data-tracking-method-recommended{
    font-style: italic;
    color: orange;
    margin-bottom: -20px;
    font-size: 10pt;
    font-weight: bold;
  }

  .add-btn {
    background: none;
    width: 40px;
  }

  .add-btn-wrapper {
    display: inline-block;
    padding: 0 15px 0 5px;
  }

  .add-text-wrapper {
    display: inline-block;
  }

  .content-wrapper {
    text-align: center;
  }

  .data-select-btn {
    border-radius: 8px;
    margin-bottom: 8px;
    width: 310px;
    height: 40px;
  }

  .cancel-btn {
    background: none;
  }

  .confirm-btn {
    background: var(--goal-theme);
  }

  .remove-btn {
    background: var(--red-text);
  }

  .button-wrapper {
    padding-top: 20px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
  }

  .confirm-btn-half {
    background: var(--goal-theme);
    width: 150px;
    float: right;
  }

  .remove-btn-half {
    background: var(--red-text);
    width: 150px;
    float: left;
  }

  // ==================== limit ====================
  .limit-option-wrapper {
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 8px;
  }

  .limit-option {
    margin-top: -12px;
  }

  .limit-btn {
    display: inline-block;
    background: none;
    vertical-align: middle;
    width: 35px;
  }

  .more-less-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 10pt;
    font-weight: bold;
    margin-left: -2px;
    padding-bottom: 4px;
  }

  .more-less-option-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
  }

  .limit-label {
    display: inline-block;
    vertical-align: middle;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 10px;
    font-style: italic;
  }

  .limit-number-textfield {
    font-size: 10pt;
    font-weight: bold;
    border: solid 1.4px white;
    width: 50px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .limit-element-wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-bottom: 10px;
  }

  .no-limit {
    margin-bottom: 10px;
    margin-left: 5px;
  }

  .name-textfield {
    font-size: 10pt;
    font-weight: bold;
    border: solid 1.4px white;
    width: 270px;
    border-radius: 10px;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
  }

  .data-name-wrapper {
    text-align: center;
  }

  .info-button {
    background: none;
    position: absolute;
    width: 40px;
    right: 15px;
    float: right;
    margin-top: -48px;
  }

  .limit-option-header-wrapper {
    display: inline-block;
  }

  // ============ info popups START ============
  .info-card {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    width: 86%;
    margin: auto;
    border: 1.5px solid var(--info-theme);
    background: var(--goal-card-background);
    border-radius: 10px;
    min-height: 200px;
    z-index: 2;
    justify-content: center;
    align-items: center;
  }

  .info-title {
    font-size: 12pt;
    position: relative;
    top: 30px;
    color: white;
  }

  .close-button {
    background: none;
    color: white;
    float: right;
    font-size: 10px;
  }
  // ============ info popups END ============
}
