<ion-header>
  <ion-navbar text-right hideBackButton>
    <button ion-button menuToggle show icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span id="title" class="header-title-right">Modify Notifications</span>
  </ion-navbar>
</ion-header>


<ion-content class="content vertical-center">

  <div class="ion-content-wrapper" [class.transparent]="postSymptomInfoDisplayed || regularInfoDisplayed">
    <!-- ======================================= 1. Post-Symptom Tracking ======================================= -->
    <ion-card class="goal-card center">
      <ion-card-header>
        <div class="tracking-name-wrapper">
          <p class="tracking-name-recommended" *ngIf="recommended === 'retroactive'">Recommended</p>
          <p class="tracking-name">After Symptoms</p>
        </div>
        <button class="align-right info-btn" (click)="onDisplayInfoClick('postSymptom')" icon-only>
          <img [src]="'../../assets/pages/info_icon.svg'" alt="">
        </button>
      </ion-card-header>

      <ion-card-content class="tracking-card-content">
        <p class="tracking-explanation-text" text-wrap>Only indicate symptoms and track details later</p>

        <div class="tracking-selected-wrapper" *ngIf="notificationData['retroactive']">
          <ion-input class="post-symptom-textfield" type="number" text-right  no-padding no-border
                     [placeholder]="notificationData['retroactive'].delayNum
                               ? notificationData['retroactive'].delayNum : '---'"
                     [(ngModel)]="notificationData['retroactive'].delayNum"></ion-input>

          <div class="tracking-options post-symptom-options" text-left>
            <div class="tracking-btn-wrapper">
              <button *ngIf="!(notificationData['retroactive'].delayScale === 'Day')"
                      class="tracking-btn" (click)="setPostSymptomDelayScale('Day')" icon-only>
                <img [src]="'../../assets/pages/uncheck_circle_icon.svg' " alt="">
              </button>
              <button *ngIf="(notificationData['retroactive'].delayScale === 'Day')"
                      class="tracking-btn" (click)="setPostSymptomDelayScale('Day')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>
              <p class="tracking-btn-label" (click)="setPostSymptomDelayScale('Day')">Day</p>
            </div>

            <div class="tracking-btn-wrapper">
              <button *ngIf="!(notificationData['retroactive'].delayScale === 'Hour')"
                      class="tracking-btn" (click)="setPostSymptomDelayScale('Hour')" icon-only>
                <img [src]="'../../assets/pages/uncheck_circle_icon.svg' " alt="">
              </button>
              <button *ngIf="(notificationData['retroactive'].delayScale === 'Hour')"
                      class="tracking-btn" (click)="setPostSymptomDelayScale('Hour')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>
              <p class="tracking-btn-label" (click)="setPostSymptomDelayScale('Hour')">Hour</p>
            </div>
          </div>
          <p class="tracking-label post-symptom-label">after symptoms</p>
        </div>

        <button class="align-right tracking-add-btn" *ngIf="notificationData['retroactive']" (click)="selectPostSymptom()" icon-only>
          <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
        </button>

        <button class="align-right tracking-add-btn" *ngIf="!notificationData['retroactive']" (click)="selectPostSymptom()" icon-only>
          <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
        </button>

      </ion-card-content>
    </ion-card>

    <!-- ======================================= 2. Regular Tracking ======================================= -->
    <ion-card class="goal-card center">
      <ion-card-header>
        <div class="tracking-name-wrapper">
          <p class="tracking-name-recommended" *ngIf="recommended === 'regular'">Recommended</p>
          <p class="tracking-name">Everyday</p>
        </div>
        <button class="align-right info-btn" (click)="onDisplayInfoClick('regular')" icon-only>
          <img [src]="'../../assets/pages/info_icon.svg'" alt="">
        </button>
      </ion-card-header>

      <ion-card-content class="tracking-card-content">
        <p class="tracking-explanation-text" text-wrap>Track daily to get more consistent data</p>

        <div class="tracking-selected-wrapper" *ngIf="notificationData['regular']">
          <div class="tracking-options" text-left>
            <div class="tracking-btn-wrapper">
              <button *ngIf="!isDaily()"
                      class="tracking-btn" (click)="setRegularTimeScale('Daily1')" icon-only>
                <img [src]="'../../assets/pages/uncheck_circle_icon.svg' " alt="">
              </button>
              <button *ngIf="isDaily()"
                      class="tracking-btn" (click)="setRegularTimeScale('Daily1')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>
              <p class="tracking-btn-label" (click)="setRegularTimeScale('Daily1')">At</p>
              <ion-item class="regular-time-picker-wrapper"
                      *ngIf="!isDaily()" text-wrap text-center>
                <ion-datetime class="regular-time-picker" disabled>
                </ion-datetime>
              </ion-item>
              <ion-item class="regular-time-picker-wrapper"
                        *ngIf="isDaily()" text-wrap text-center>
                <ion-datetime class="regular-time-picker" displayFormat="hh:mm a" placeholder="Select Time"
                              pickerFormat="hh:mm a" minuteValues="0,10,20,30,40,50"
                              [(ngModel)]="notificationData['regular']['timeOfDay']">
                </ion-datetime>
              </ion-item>
            </div>

            <div class="tracking-btn-wrapper" *ngIf="isDaily()">
              <button *ngIf="!(notificationData['regular'].timescale === 'TwiceDaily')"
                      class="tracking-btn" (click)="setRegularTimeScale('Daily2')" icon-only>
                <img [src]="'../../assets/pages/uncheck_circle_icon.svg' " alt="">
              </button>
              <button *ngIf="(notificationData['regular'].timescale === 'TwiceDaily')"
                      class="tracking-btn" (click)="setRegularTimeScale('Daily2')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>
              <p class="tracking-btn-label" (click)="setRegularTimeScale('Daily1')">At</p>
              <ion-item class="regular-time-picker-wrapper"
                      *ngIf="(notificationData['regular'].timescale === 'Daily')" 
                             text-wrap text-center>
                <ion-datetime class="regular-time-picker" disabled>
                </ion-datetime>
              </ion-item>
              <ion-item class="regular-time-picker-wrapper"
                        *ngIf="(notificationData['regular'].timescale === 'TwiceDaily')" 
                        text-wrap text-center>
                <ion-datetime class="regular-time-picker" displayFormat="hh:mm a" placeholder="Select Time"
                              pickerFormat="hh:mm a" minuteValues="0,10,20,30,40,50"
                              [(ngModel)]="notificationData['regular']['timeOfDay2']">
                </ion-datetime>
              </ion-item>
            </div>
          </div>
        </div> 

        <button class="align-right tracking-add-btn" *ngIf="notificationData['regular']"
                (click)="selectRegular()" icon-only>
          <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
        </button>

        <button class="align-right tracking-add-btn" *ngIf="!notificationData['regular']" (click)="selectRegular()" icon-only>
          <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
        </button>

      </ion-card-content>

    </ion-card>
  </div>

  <div class="info-card" [class.info-card-short]="regularInfoDisplayed" *ngIf="postSymptomInfoDisplayed || regularInfoDisplayed">
    <ion-card-content class="reason-entry-card">
      <button class="close-button" (click)="onCloseInfoClick()" icon-only>
        <ion-icon name="custom-close"></ion-icon>
      </button>
      <p class="info-title" *ngIf="postSymptomInfoDisplayed">
        To minimize screen interaction during a migraine,
        you can indicate symptoms only and get a reminder to track details later.
        Tracking after symptoms will allow less time tracking but may result in less consistent or accurate data.
      </p>
      <p class="info-title" *ngIf="regularInfoDisplayed">
        Tracking regularly will allow more consistent and accurate data,
        but you will have to spend more time tracking.
      </p>
    </ion-card-content>
  </div>

</ion-content>

<ion-footer class="footer-wrapper">
    <button class="align-right modify-footer-button save-button" [disabled]="saved || !canContinue()" (click)="onClickNext()" icon-only>
      Save
    </button>
</ion-footer>
