data-element-tracking {
  .noteBox{
    border: solid 1px var(--lighter-grey);
    border-radius: 15px;
    margin-bottom: 0.5em;
  }



  .numberBox{
    //border: solid 1px var(--lighter-grey);
    border: solid 1px white;
    border-radius: 15px;
    //max-width: 35vw;
    width: 100%;
    margin-top: 15pt;
    margin-bottom: 15pt;
    //margin-left: 10pt;
    padding-left: 10pt;
    padding-right: 10pt;
  }

  .numRange{
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 90%;
  }

  .trackItem{
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
    padding: 0;
  }

  .binaryIcon{
    font-size: 7.75rem;
  }

  .binaryBtn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 15pt;
    margin-right: 15pt;
    margin-bottom: 15pt;
  }

  .center {
    justify-content: center;
  }

}


