 <!-- Generated template for the DataElementTrackingComponent component -->
<!---------------------- binary ---------------------->
<ng-container *ngIf="data.field === 'binary'">
    <ion-row>
        <ion-col>
            <button ion-button [outline]="dataVal !== 'No'" color="light" class="binary-btn" (click)="itemTracked('No', 'val')">No</button>
        </ion-col>
        <ion-col>
            <button ion-button [outline]="dataVal !== 'Yes'" color="light" class="binary-btn" (click)="itemTracked('Yes', 'val')">Yes</button>
        </ion-col>
    </ion-row>
</ng-container>

<!---------------------- categorical scale ---------------------->
<ng-container class="category-wrapper" *ngIf="data.field === 'category scale'" text-center>
    <button ion-button [outline]="dataVal !== 'None'" class="category-btn" color="light" value="None" (click)="itemTracked('None', 'val')">None</button>
    <button ion-button [outline]="dataVal !== 'Some'" class="category-btn" color="light" value="Some" (click)="itemTracked('Some', 'val')">Some</button>
    <button ion-button [outline]="dataVal !== 'Lots'" class="category-btn" color="light" value="Lots" (click)="itemTracked('Lots', 'val')">Lots</button>
</ng-container>

 <!---------------------- number ---------------------->
 <ng-container text-wrap *ngIf="data.field === 'number'">
     <div class="center">
         <ion-input class="number-box" type="number" text-left placeholder="Enter number..."
                    (ngModelChange)="itemTracked($event,'val')" [(ngModel)]="dataVal"></ion-input>
     </div>
 </ng-container>

<!---------------------- numeric scale ---------------------->
<ng-container class="num-scale-wrapper" text-wrap *ngIf="data.field === 'numeric scale'">
    <ion-item class="num-scale">
        <ion-range class="num-range" [(ngModel)]="dataVal" pin="true" step="1" snaps="true" min="1" max="10"
                   color="infoTheme" (ngModelChange)="itemTracked($event,'val')">
            <ion-label slot="start">1</ion-label>
            <ion-label slot="end">10</ion-label>
        </ion-range>
    </ion-item>
</ng-container>

<!---------------------- time ---------------------->
<ng-container class="time-wrapper" text-wrap *ngIf="data.field === 'time'" text-center>
    <div class="center">
        <ion-item class="date-picker">
            <ion-datetime displayFormat="h:mm a" placeholder="Select Time" pickerFormat="h:mm a"
            (ngModelChange)="itemTracked($event,'val')" [(ngModel)]="dataVal"></ion-datetime>
        </ion-item>
    </div>
</ng-container>

<!---------------------- note ---------------------->
<ng-container  class="note-wrapper" *ngIf="data.field === 'note'">
    <ion-textarea class="note-box" rows="4" (ngModelChange)="itemTracked($event,'val')" [(ngModel)]="dataVal"
    placeholder="Enter note..."></ion-textarea>
</ng-container>

<!---------------------- time range ---------------------->
<ng-container class="time-wrapper" *ngIf="data.field === 'time range'">
    <ion-row>
        <ion-col>
            <ion-item class="date-range-picker-wrapper">
                <ion-datetime class="date-range-picker" displayFormat="h:mm a" placeholder="Start" pickerFormat="h:mm a"
                              [max]="dataEnd" (ngModelChange)="itemTracked($event,'start')" [(ngModel)]="dataStart">
                </ion-datetime>
            </ion-item>
        </ion-col>

        <ion-col>
            <ion-item class="date-range-picker-wrapper">
                <ion-datetime class="date-range-picker" displayFormat="h:mm a" placeholder="End" pickerFormat="h:mm a"
                              [min]="dataStart" (ngModelChange)="itemTracked($event,'end')" [(ngModel)]="dataEnd">
                </ion-datetime>
            </ion-item>
        </ion-col>
    </ion-row>
</ng-container>

 <!---------------------- calculated medication use ---------------------->
 <ng-container class="calculated" *ngIf="data.field === 'calculated medication use'" text-left>
     <p class="calculated-text" text-wrap text-left *ngIf="trackedMedsToday">
         You took as-needed medication today. Remember that frequent use of medication can cause migraines!</p>
     <p class="calculated-text" text-wrap text-left *ngIf="!trackedMedsToday">
         You did not report as-needed medication today!</p>
 </ng-container>
