
<ion-header class="progress-bar" [style.width]="workoutProgress"></ion-header>

<ion-content class="content vertical-center">

  <div class="ion-content-wrapper">
    <!-- =============================================== 0. Title =============================================== -->
    <ion-card class="goal-title-card">
      <ion-card-header class="goal-card-header">
        <img class="goal-title-icon"  [src]="'../../assets/pages/' + dataObject['dataType'].toLowerCase() + '_icon.svg' " alt="">
        <div class="goal-title-text-wrapper">
          <p class="goal-title-text">Do you want to add</p>
          <p class="goal-title-text">{{dataObject['dataType'].toLowerCase()}} data?</p>
        </div>
        <!--      <button class="align-right info-button" icon-only>-->
        <!--        <img [src]="'../../assets/pages/info_icon.svg' " alt="">-->
        <!--      </button>-->
      </ion-card-header>
    </ion-card>

    <!-- ============================= 1. Recommended Tracking Data based on Goals ============================= -->
    <ion-card class="goal-card center" *ngIf="recommendedData.length > 0">
      <ion-card-header class="goal-header">
        <div class="goal-name-wrapper">
          <p class="goal-name">Recommended</p>
        </div>
      </ion-card-header>

      <ion-card-content class="goal-card-content">
        <p class="goal-reason-text" text-wrap>I want suggestions of relevant symptoms to track</p>

        <!-- If no data tracking is necessary based on the goals selected -->
<!--          <div *ngIf="recommendedData.length==0 && !recommendTracking">-->
<!--            Based on your goals, we do not recommend any specific-->
<!--            <span text-lowercase>{{dataObject?.dataType}}</span> data.-->
<!--            Unless you believe tracking <span text-lowercase>{{dataObject?.dataType}}</span> data will support your personal goals,-->
<!--            consider continuing without selecting any!-->
<!--          </div>-->

<!--         Recommend data to be tracked based on the goals selected -->
<!--          <div *ngIf="recommendedData.length==0 && recommendTracking">-->
<!--            Based on your goals, we recommend adding any known personal <span text-lowercase>{{dataObject?.dataType}}</span> data.-->
<!--          </div>-->

        <div class="sub-goal-chosen-wrapper" *ngIf="!recommendExpanded">
          <ion-list no-lines class="sub-goal-chosen-list" *ngFor="let rec of recommendedData" text-wrap>
            <ion-item class="sub-goal-chosen-list-item" *ngIf="rec['selected']">
              <button item-left class="data-edit-button" (click)="editData(rec, 'rec')" icon-only>
                <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
              </button>
              <p class="sub-goal-chosen-text">{{rec.name}}</p>
            </ion-item>
          </ion-list>
        </div>

        <div class="sub-goal-list-wrapper">
          <ion-list no-lines class="sub-goal-list" *ngIf="recommendExpanded">
            <ion-item class="sub-goal-list-item" *ngFor="let rec of recommendedData" text-wrap>

              <button class="align-left subgoal-btn" *ngIf="!rec['selected']" (click)="editData(rec, 'rec')" icon-only>
                <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
              </button>

              <button class="align-left subgoal-btn" *ngIf="rec['selected']" (click)="removeData(rec, 'rec')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>

              <p class="sub-goal-text" (click)="rec['selected'] ? removeData(rec, 'rec') : editData(rec, 'rec')"> {{rec.name}} </p>

              <button item-right class="data-edit-button"*ngIf="rec['selected']" (click)="editData(rec, 'rec')" icon-only>
                <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
              </button>

            </ion-item>
          </ion-list>
        </div>

        <button class="align-right goal-btn" *ngIf="recommendExpanded" (click)="toggleRecommendCard()" icon-only>
          <img [src]="'../../assets/pages/drop_up_icon.svg' " alt="">
        </button>

        <button class="align-right goal-btn" *ngIf="!recommendExpanded" (click)="toggleRecommendCard()" icon-only>
          <img [src]="'../../assets/pages/drop_down_icon.svg' " alt="">
        </button>

      </ion-card-content>
    </ion-card>

    <!-- =============================== 2. Common Tracking Data =============================== -->
    <ion-card class="goal-card center" *ngIf="otherData.length > 0">
      <ion-card-header class="goal-header">
        <div class="goal-name-wrapper">
          <p class="goal-name">Common</p>
        </div>
      </ion-card-header>

      <ion-card-content class="goal-card-content">
        <p class="goal-reason-text" text-wrap>This data may not be necessary for your selected goals</p>

        <div class="sub-goal-chosen-wrapper" *ngIf="!commonExpanded">
          <ion-list no-lines class="sub-goal-chosen-list" *ngFor="let data of otherData" text-wrap>
            <ion-item class="sub-goal-chosen-list-item" *ngIf="data['selected']">
              <button item-left class="data-edit-button" (click)="editData(data, 'other')" icon-only>
                <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
              </button>
              <p class="sub-goal-chosen-text">{{data.name}}</p>
            </ion-item>
          </ion-list>
        </div>

        <div class="sub-goal-list-wrapper">
          <ion-list no-lines class="sub-goal-list" *ngIf="commonExpanded">
            <ion-item *ngFor="let data of otherData" text-wrap>

              <button class="align-left subgoal-btn" *ngIf="!data['selected']" (click)="editData(data, 'other')" icon-only>
                <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
              </button>

              <button class="align-left subgoal-btn" *ngIf="data['selected']" (click)="removeData(data, 'other')" icon-only>
                <img [src]="'../../assets/pages/check_radio_icon.svg' " alt="">
              </button>

              <p class="sub-goal-text" (click)="data['selected'] ? removeData(data, 'other') : editData(data, 'other')"> {{data.name}} </p>

              <button item-right class="data-edit-button"*ngIf="data['selected']" (click)="editData(data, 'other')" icon-only>
                <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
              </button>

            </ion-item>
          </ion-list>
        </div>

        <button class="align-right goal-btn" *ngIf="commonExpanded" (click)="toggleCommonCard()" icon-only>
          <img [src]="'../../assets/pages/drop_up_icon.svg' " alt="">
        </button>

        <button class="align-right goal-btn" *ngIf="!commonExpanded" (click)="toggleCommonCard()" icon-only>
          <img [src]="'../../assets/pages/drop_down_icon.svg' " alt="">
        </button>

      </ion-card-content>
    </ion-card>

    <!-- =============================== 3. Customized Tracking Data =============================== -->
    <ion-card class="goal-card center">
      <ion-card-header class="goal-header">
        <div class="goal-name-wrapper">
          <p class="goal-name">Custom</p>
        </div>
      </ion-card-header>

      <ion-card-content class="custom-data-content">
        <p class="goal-reason-text" text-wrap>{{'I want to add my own ' + dataObject['dataType'].toLowerCase() + 's'}}</p>

        <div class="custom-data-wrapper" *ngIf="customData.length > 0">
          <ion-list no-lines class="sub-goal-chosen-list" *ngFor="let data of customData" text-wrap>
            <ion-item class="sub-goal-chosen-list-item" *ngIf="data['selected']">
              <button item-left class="data-edit-button" (click)="editData(data, 'custom')" icon-only>
                <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
              </button>
              <p class="sub-goal-chosen-text">{{data.name}}</p>
            </ion-item>
          </ion-list>
        </div>

        <button class="align-right goal-btn" (click)="editData({'custom': true}, 'custom')" icon-only>
          <img [src]="'../../assets/pages/add_radio_icon.svg' " alt="">
        </button>
      </ion-card-content>
    </ion-card>

    <!-- =============================== 4. Set Tracking Start Time =============================== -->
    <ion-card class="goal-card start-time-wrapper center" *ngIf="startDate">
      <ion-card-header class="goal-header">
        <div class="goal-name-wrapper" text-wrap>
          <p class="start-time-title">When do you want to start the change?</p>
        </div>
      </ion-card-header>

      <ion-card-content>
        <ion-item class="date-picker-wrapper">
          <ion-datetime class="date-picker" min="{{today}}" max='{{nextYear}}' displayFormat="MM/DD/YYYY" [(ngModel)]="startDate"></ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-footer class="modify-footer-wrapper" *ngIf="!modifying || dataDetailsServiceProvider.findNextConfigData(navParams.data['goalIDs'], dataObject)">
  <div>
    <button class="align-left footer-button" (click)="onClickPrevious()" icon-only>
      <ion-icon name="custom-chevron-left"></ion-icon>
    </button><p class="align-left footer-text text-left"></p>

  </div>

  <div>
    <button class="align-right footer-button" (click)="onClickNext()" icon-only>
      <ion-icon name="custom-chevron-right"></ion-icon>
    </button>
    <p class="align-right footer-text text-right" ></p>
  </div>
</ion-footer>


<ion-footer class="modify-footer-wrapper" *ngIf="modifying && !dataDetailsServiceProvider.findNextConfigData(navParams.data['goalIDs'], dataObject)">
  <div>
    <button class="align-left footer-button" (click)="onClickPrevious()" icon-only>
      <ion-icon name="custom-chevron-left"></ion-icon>
    </button><p class="align-left footer-text text-left"></p>

  </div>

  <div>
    <button class="align-right modify-footer-button save-button" (click)="onClickNext()" icon-only>
      Save
    </button>
  </div>
</ion-footer>
