<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <div>
    <button class="close-button" (click)="onCloseClick()" icon-only>
      <ion-icon name="custom-close"></ion-icon>
    </button>
    <p class="signup-title">Create Your</p>
    <p class="signup-title-2">Account</p>
    <ion-input class="username-input credential-input" [(ngModel)]="username" (click)="typeUsername()"
               placeholder="Username" type="text"></ion-input>
    <ion-input class="password-input credential-input" [(ngModel)]="password" placeholder="Password"
               type="password"></ion-input>
    <ion-input class="repassword-input credential-input" [(ngModel)]="confirmPassword"
               placeholder="Confirm Password" type="password"></ion-input>
    <p ion-text class="warning-text" *ngIf="password !== confirmPassword && password !== ''
    && password != null && confirmPassword !== '' && confirmPassword != null">Passwords don't match!</p>
<!--    <p ion-text class="warning-text" *ngIf="password === confirmPassword && password !== '' && password != null">Password is valid!</p>-->
    <p ion-text class="warning-text" id="username-warning" *ngIf="usernameError">{{usernameError}}</p>

    <div>
      <button class="signup-landing-button landing-button" type="submit" (click)="signUp()"
              [disabled]="!(username !== '' && username != null && password !== '' &&
              password != null && confirmPassword !== '' && confirmPassword != null)">CREATE ACCOUNT</button>
    </div>
  </div>
</ion-content>
