<!--
  Generated template for the BreakFromTrackingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar text-right>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span id="title" class="header-title-right">Take a Break</span>
  </ion-navbar>
</ion-header>

<ion-content class="container">

  <div [class.transparent]="displayBreakInfo || displayReasonInfo" *ngIf="currentBreak && currentBreak.started">
    <ion-backdrop *ngIf="displayBreakInfo || displayReasonInfo"></ion-backdrop>
    <ion-card text-left class="current-break-card">
  <!--    <ion-card-header text-wrap class="current-break-title">You're currently on a break!</ion-card-header>-->
      <ion-card-content>
        <div class="break-wrapper">

          <div class="break-item-wrapper" *ngIf="currentBreak.started">
            <button class="align-right break-info-button edit-info-button" icon-only (click)="onClickDisplayBreakInfo()">
              <img [src]="'../../assets/pages/info_icon.svg' " alt="">
            </button>
            <p class="break-item-title"> Current break started</p>
            <p class="break-item-date break-start-date">{{formatDateString(currentBreakStarted, "/")}}</p>
          </div>

          <div class="break-item-wrapper" *ngIf="currentBreak.notifyDate">
            <p class="break-item-title">
              Current break ends
            </p>
            <p class="break-item-date" (click)="updateBreakDate()" [class.color-info-theme]="!displayBreakEditBtn"
               [class.color-white]="displayBreakEditBtn">{{formatDateString(dateToSnoozeTo, "-")}}
            </p>
            <button *ngIf="displayBreakEditBtn" class="align-right break-reason-edit-button" (click)="updateBreakDate()" icon-only>
              <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
            </button>
            <ion-item hidden>
              <ion-datetime #updateBreakDatePicker [min]="today" [max]="nextYear"
                            displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY"
                            placeholder="Select Date" cancelText="Cancel" doneText="Update"
                            (ionFocus)="onEditBreakFocus()" (ionBlur)="onEditBreakBlur()"
                            [(ngModel)]="dateToSnoozeTo"  (ngModelChange)="breakChanged=true"></ion-datetime>
            </ion-item>
          </div>

          <div class="break-item-wrapper" *ngIf="!currentBreak.notifyDate">
            <p class="break-item-title">
              Schedule end date
            </p>
            <p *ngIf="!dateToSnoozeTo" class="break-item-date" (click)="scheduleBreakDate()"
               [class.color-info-theme]="!displayBreakEditBtn" [class.color-white]="displayBreakEditBtn">
              Select date
            </p>
            <p *ngIf="dateToSnoozeTo" class="break-item-date" (click)="scheduleBreakDate()"
               [class.color-info-theme]="!displayBreakEditBtn" [class.color-white]="displayBreakEditBtn">
              {{formatDateString(dateToSnoozeTo, "-")}}
            </p>
            <button *ngIf="displayBreakEditBtn" class="align-right break-reason-edit-button" (click)="scheduleBreakDate()" icon-only>
              <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
            </button>
            <ion-item hidden>
              <ion-datetime #scheduleBreakDatePicker [min]="today" [max]="nextYear"
                            displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY"
                            placeholder="Select Date" cancelText="Cancel" doneText="Done"
                            (ionFocus)="onEditBreakFocus()" (ionBlur)="onEditBreakBlur()"
                            [(ngModel)]="dateToSnoozeTo"  (ngModelChange)="breakChanged=true"></ion-datetime>
            </ion-item>
          </div>

          <div class="break-item-wrapper last-break-item" *ngIf="currentBreak.reasonForBreak">
            <button class="align-right reason-info-button edit-info-button" icon-only (click)="onClickDisplayReasonInfo()">
              <img [src]="'../../assets/pages/info_icon.svg' " alt="">
            </button>
            <p class="break-item-title">Reason for current break</p>
            <ion-textarea class="break-reason-update-entry" [(ngModel)]="reasonForBreak" rows="3"
                          [class.color-info-theme]="!displayReasonEditBtn" [class.color-white]="displayReasonEditBtn"
                          placeholder="I'm taking a break because ... " (ionFocus)="onEditBreakReasonFocus()"
                          (ionBlur)="onEditBreakReasonBlur()" value="{{currentBreak.reasonForBreak}}"></ion-textarea>
            <button *ngIf="displayReasonEditBtn" class="align-right break-reason-edit-button" icon-only>
              <ion-icon class="edit-icon" name="custom-edit"></ion-icon>
            </button>
          </div>
        </div>
        </ion-card-content>
    </ion-card>

    <ion-footer text-center>
      <button ion-button color="darkRed" class="break-button" (click)="endBreak()">
        End Break Now
      </button>
    </ion-footer>
  </div>

  <div [class.transparent]="displayBreakInfo || displayReasonInfo" *ngIf="!currentBreak || !currentBreak.started">
      <ion-backdrop *ngIf="displayBreakInfo || displayReasonInfo"></ion-backdrop>
    <ion-card class="break-card">
      <ion-card-header text-wrap>
        <p class="break-title">
          Do you want to take a break from tracking?
        </p>
        <button class="align-right break-info-button" icon-only (click)="onClickDisplayBreakInfo()">
          <img [src]="'../../assets/pages/info_icon.svg' " alt="">
        </button>
      </ion-card-header>

      <ion-card-content class="break-options-card">

        <ion-item  class="goal-card-background" (click)="setSelected('No')">
          <ion-icon item-left *ngIf="selected !== 'No'" name="radio-button-off"></ion-icon>
          <ion-icon item-left *ngIf="selected === 'No'" name="checkmark-circle"></ion-icon>
          <span>No</span>
        </ion-item>

        <ion-item  class="goal-card-background">
          <ion-icon item-left *ngIf="selected !== 'Yes'" name="radio-button-off" (click)="setSelected('Yes')"></ion-icon>
          <ion-icon item-left *ngIf="selected === 'Yes'" name="checkmark-circle" (click)="setSelected('')"></ion-icon>
          <span (click)="setSelected('Yes')">Yes</span>
          <ion-item class="date-picker-wrapper" no-lines hidden>
            <ion-datetime #breakDatePicker class="date-picker" cancelText="Skip"
                          pickerFormat="MMM DD, YYYY" [min]="today" [max]="nextYear"
                          [(ngModel)]="dateToSnoozeTo" (ionCancel)="onBreakDatePickerCancel()"></ion-datetime>
          </ion-item>
          <p class="subtitle inline-block" *ngIf="dateToSnoozeTo === '' && selected === 'Yes' && !breakSkip">
            When to end the break?
          </p>
          <p class="subtitle inline-block" *ngIf="dateToSnoozeTo !== '' && selected === 'Yes' && !breakSkip" (click)="editDateToSnoozeTo()">
            break until {{formatDateString(dateToSnoozeTo)}}
          </p>
          <p class="subtitle inline-block" *ngIf="dateToSnoozeTo === '' && selected === 'Yes' && breakSkip" (click)="editDateToSnoozeTo()">
            set end break date later
          </p>
          <button *ngIf="(dateToSnoozeTo !== '' && selected === 'Yes' && !breakSkip) || (dateToSnoozeTo === '' &&
          selected === 'Yes' && breakSkip)" class="align-right break-option-edit-button" (click)="editDateToSnoozeTo()" icon-only>
            <ion-icon class="edit-icon break-option-edit-icon" name="custom-edit"></ion-icon>
          </button>
        </ion-item>

        <ion-item  class="goal-card-background">
          <ion-icon item-left *ngIf="selected !== 'Unsure'" name="radio-button-off" (click)="setSelected('Unsure')"></ion-icon>
          <ion-icon item-left *ngIf="selected === 'Unsure'" name="checkmark-circle" (click)="setSelected('')"></ion-icon>
          <span (click)="setSelected('Unsure')">Unsure</span>
          <ion-item class="date-picker-wrapper" no-lines hidden>
            <ion-datetime #reminderDatePicker class="date-picker"
                          pickerFormat="MMM DD, YYYY" [min]="today" [max]="nextYear"
                          [(ngModel)]="selectedDateToCheckIn" (ionCancel)="onReminderDatePickerCancel()"></ion-datetime>
          </ion-item>
          <p class="subtitle inline-block" *ngIf="selectedDateToCheckIn === '' && selected === 'Unsure'">
            When to check in?
          </p>
          <p class="subtitle inline-block" *ngIf="selectedDateToCheckIn !== '' && selected === 'Unsure'" (click)="editDateToCheckIn()">
            check in {{formatDateString(selectedDateToCheckIn)}}
          </p>
          <button *ngIf="selectedDateToCheckIn !== '' && selected === 'Unsure'" (click)="editDateToCheckIn()"
                  class="align-right break-option-edit-button" icon-only>
            <ion-icon class="edit-icon break-option-edit-icon" name="custom-edit"></ion-icon>
          </button>
        </ion-item>

      </ion-card-content>
    </ion-card>

    <ion-card class="reason-card" *ngIf="selected === 'Yes'">
      <ion-card-header text-wrap>
        <p class="reason-title">
          Why are you taking a break from tracking?
        </p>
        <button class="align-right reason-info-button" icon-only (click)="onClickDisplayReasonInfo()">
          <img [src]="'../../assets/pages/info_icon.svg' " alt="">
        </button>
      </ion-card-header>

      <ion-card-content class="reason-entry-card">
        <ion-textarea class="reason-entry" [(ngModel)]="reasonForBreak" rows="3"
                      placeholder="I'm taking a break because ... ">
        </ion-textarea>
      </ion-card-content>
    </ion-card>

    <ion-footer text-center>
      <button ion-button color="goalThemeDark" class="submit-button" (click)="takeBreak()"
              [disabled]="((selected!=='Yes' || !dateToSnoozeTo) && selected!=='No' && selected!=='Unsure')">
        Submit
      </button>
    </ion-footer>
  </div>

  <div class="info-card" *ngIf="displayBreakInfo || displayReasonInfo">
    <ion-card-content>
      <button class="close-button" (click)="onClickCloseInfo()" icon-only>
        <ion-icon name="custom-close"></ion-icon>
      </button>
      <p class="info-title" *ngIf="displayBreakInfo">
        When you decide to take a break from tracking, we'll disable notifications.
        You can still interact with the app.  You can end a break early if you would like.
      </p>
      <p class="info-title" *ngIf="displayReasonInfo">
        Optionally record the reason here if you want to remind yourself or share with a doctor later.
      </p>
    </ion-card-content>
  </div>
</ion-content>
